.Logo p {
 	color: white;
 	font-size: 40px;
}
h1{
	font-size: 40px;
}
a{
	font-size: 30px;
	color: darkblue;
	text-decoration: none;

}
a:hover{
	transition: 0.4s;
	color: yellow;
}
.txt {
	font-size: 30px;
}
p{
	font-size: 25px;
	color: blue;
}
img {
background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 7px, transparent 7px) 0% 0%/13px 13px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 7px, transparent 7px) 100% 0%/13px 13px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 7px, transparent 7px) 0% 100%/13px 13px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 7px, transparent 7px) 100% 100%/13px 13px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 12px) calc(100% - 26px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 26px) calc(100% - 12px) no-repeat,
            linear-gradient(90deg, #ebca0b 0%, #1051ea 100%);
border-radius: 13px;
padding: 12px;
box-sizing: border-box;
}

